# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/
develop-eggs/
.eggs/
lib/
lib64/
parts/
var/
wheels/
share/python-wheels/
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# Pytest
.cache/
coverage/

# Environments
*.env
.env.local
.env.*.local

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Profiling data
.prof

# Logs
*.log

# MongoDB data
data/db/
*.lock
mongod.lock
journal/

# Other files
*.bak
*.tmp

# Ignore data files
*.csv
*.json
*.xml

# QGIS
*.qgs~
*.qgz~

# Ignore SQLite database files
*.sqlite3

# Data files
results/*.json

# Ignore scripts directory for distribution purposes
# Remove the following line if scripts are part of your version control
/scripts/
